
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.form-label:hover
{
    cursor: pointer;
}

.truncate
{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image
{
    object-fit: cover;
}

$primary-color:#3292a6;
$primary-overlay: rgba(50,146,166,0.8);

.navbar
{
	box-shadow:2px 2px 5px $primary-color;
	opacity:0.9;
	background:#fff;

	.nav-item
	{
		font-size:1.4rem;
		padding-right:20px;
	}
}

.link_btn,
.link_btn:link,
.link_btn:visited
{
    display: flex;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    text-decoration: none;
    background-color: #efefef;
    box-shadow: 0 2rem 4rem rgba(50,146,166,0.5);
    transition: all .2s;

    &:hover
    {
        text-decoration: none;
        transform: scale(1.2);
    }
}
.loading
{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    color: #fefefe;
    background-color: rgba(#3d3d3d,.5);
    z-index: 9999 !important;

    &>*
    {
        font-size: 2.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
