
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.form-label:hover
{
    cursor: pointer;
}

.truncate
{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image
{
    object-fit: cover;
}

$primary-color:#3292a6;
$primary-overlay: rgba(50,146,166,0.8);

.navbar
{
	box-shadow:2px 2px 5px $primary-color;
	opacity:0.9;
	background:#fff;

	.nav-item
	{
		font-size:1.4rem;
		padding-right:20px;
	}
}
